#define APP_MANIFEST                    1
#define RT_MANIFEST                     24


/////////////////////////////////////////////////////////////////////////////
//
// RT_MANIFEST
//

APP_MANIFEST RT_MANIFEST "calc.manifest"

/////////////////////////////////////////////////////////////////////////////
